@import 'reset';
@import 'variables/global';
@import 'themes/dark';
@import 'themes/light';

.app {
    min-height: 100vh;
}

.app,
.appModal {
    font: var(--font-s);
    background-color: var(--background-color);
    color: var(--text-color);
}

.contentPage {
    display: flex;
}

.pageWrapper {
    flex-grow: 1;
    padding: 20px;
}
