@import "reset";
@import "variables/global";
@import "themes/dark";
@import "themes/light";


.app {
  font: var(--font-m);

  background-color: var(--background-color);
  color: var(--text-color);

  min-height: 100vh;
}