:root,
.appDarkTheme {
    --primary-color: #d4af37; // Основной цвет
    --secondary-color: #a67b5b; // Вторичный цвет (мягкий коричневый)
    --background-color: #282321; // Основной цвет заднего фона
    --secondary-background-color: #3b2d2a; // Второй цвет фона (например, для боковых панелей)
    --text-color: #f0cdc5; // Основной цвет текста
    --secondary-text-color: #b8b2ad; // Вторичный цвет текста
    --muted-text-color: #8f8a85; // Цвет для менее заметного текста, подсказок
    --accent-color: #c7a579; // Цвет акцента (можно использовать для кнопок или ссылок)
    --border-color: #f0cdc5; // Цвет бордеров и разделителей
    --divider-color: #c3c3c5; // Цвет для тонких линий-разделителей
    --hover-color: #d1b86a; // Цвет для элементов при наведении
    --active-color: #a28349; // Цвет для активных элементов
    --disabled-color: #7e756f; // Цвет для отключенных элементов
}
