.appDarkTheme {
  --primary-color: #D4AF37;  // Основной цвет
  --secondary-color: #A67B5B;  // Вторичный цвет (мягкий коричневый)
  --background-color: #282321;  // Основной цвет заднего фона
  --secondary-background-color: #3B2D2A;  // Второй цвет фона (например, для боковых панелей)
  --text-color: #F0CDC5;  // Основной цвет текста
  --secondary-text-color: #B8B2AD;  // Вторичный цвет текста
  --muted-text-color: #8F8A85;  // Цвет для менее заметного текста, подсказок
  --accent-color: #C7A579;  // Цвет акцента (можно использовать для кнопок или ссылок)
  --border-color: #F0CDC5;  // Цвет бордеров и разделителей
  --divider-color: #C3C3C5;  // Цвет для тонких линий-разделителей
  --hover-color: #D1B86A;  // Цвет для элементов при наведении
  --active-color: #A28349;  // Цвет для активных элементов
  --disabled-color: #7E756F;  // Цвет для отключенных элементов
}