.navbar {
    width: 100%;
    height: var(--navbar-height);
    border-bottom: 1px solid var(--border-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px;

    & .links {
        display: flex;
        align-items: center;
        gap: 15px;
    }

    & .icons {
        fill: var(--text-color);
        cursor: pointer;
        display: flex;
        align-items: center;
        gap: 15px;
    }
}
